
{block content}

<div class="row header-mb">
    <div class="col-sm-8">
        <h2>Seznam Uzivatelu</h2>
    </div>
    <div class="col-sm-4 text-right">
        <a n:href="create" class="btn btn-success mt-20">Přidat Uzivatele</a>
    </div>
</div>

{control grid}

{/block}