
{block content}

<div class="row header-mb">
    <div class="col-sm-8">
        <h2>Seznam Tagů</h2>
    </div>
    <div class="col-sm-4 text-right">
        <a id="add-tag" n:href="create" class="btn btn-success mt-20">Přidat Tag</a>
    </div>
</div>

{control grid}

{/block}